@import url("https://fonts.googleapis.com/css2?family=Convergence&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: whitesmoke;
  list-style: none;
  font-family: "Convergence";
}

header {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right, #131313ea, #2d233bab),
    url("../photo/milada-vigerova-zDtGuxgXfsw-unsplash\ \(1\).jpg");
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 30px;
}

nav {
  width: 80%;
  margin: auto;
  height: 50px;
  background-color: rgba(245, 245, 245, 0.111);
  border-radius: 50px;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 35px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 9px;
}

.banner-content {
  width: 40%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  gap: 25px;
}

.btn-group {
  margin-top: 20px;
}

.btn {
  padding: 10px;
  background-color: rgb(200, 182, 148);
  border-radius: 30px;
  font-weight: 600;
  color: black;
  transition: 0.3s;
}

.menu {
  display: none;
}
